* {
    font-family: 'Open Sans', sans-serif;
}

html, head, body{
    margin:0;
    padding:0;
    border:none;
}
html{
    background-color: #808080;
    padding: 20px;
    border:none;
    position: relative;
    min-height: 100%;
}

body{
    padding-top: 50px;
    background-color: #808080;
    margin-bottom: 100px;
}

h1 {
    font-family: 'Helvetica Nue', sans-serif;
    color: black;
    letter-spacing: 4px;
    font-weight: bold;
    margin:0;
}

h2 {
    font-family: 'Helvetica Nue', sans-serif;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}


#navbar{
    padding: 20px;
    height: 30px;
   
    list-style-type:none;
}


#navbar li {
    float:left;
}

#navbar li a{
    display: block;
    padding: 5px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:#808080;
    text-decoration: none;
}
#navbar li ul {
    display: none;
    background-color:#D3D3D3;
    list-style-type: none;
    
}

#navbar li:hover ul {
    display: block;
    position: absolute;
    margin-left:0;
    margin-top:0px;
    padding:0;
    
}

#navbar li:hover {
    background-color: #D3D3D3;
}

#navbar li:hover li {
    float:none;
    position:relative;
    background-color:#D3D3D3;
    
}

#navbar li:hover ul li a {
    padding: 5px;
    display:block;
    width:200px;
    text-indent: 10px;
    background-color:#D3D3D3;
}

#navbar li:hover ul li a:hover {
    background-color:white;
}
/*header section*/
.r_header{
    padding-top: 40px;
    padding-bottom: 50px;

}

/*content section*/
.r_content{
    padding-top: 60px;
    padding-bottom: 50px;
}

/*space between sections*/
.gray{
    background-color: #808080;
    padding: 0px;
}

.gray_header{
    background-color: #808080;
    padding: 15px;
}
/*button class*/
.btn{
    color:#808080;
    margin:10px;
    padding:10px;
}

.bottom{
    padding:30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/*for footer nav bar*/
.container-fluid .text-muted {
  margin: 20px 0;
}

/*DB radio logo*/
#logo {
    width:50px;
    float:left;
    padding-right: 10px;
    padding-top: 10px;
}
/*also for formatting navbar*/
.navbar > .container .navbar-brand {
    margin-left: 5px;
    padding-top:20px;
}

/*background picture for header sections*/
#header_pic {
    background-image: url('microphones.jpg');
    padding-bottom: 220px;
}

#thumbnail{
    width:100px;
}

#events_pic{
    background-image: url('radio3.jpg');
    background-size: cover;
    padding-bottom: 300px;
}
#stories_pic{
    background-image: url('radio1.jpg');
    padding-bottom: 300px;
    background-size: cover;
}

#about_pic{
    background-image: url('radio5.jpg');
    background-size: cover;
   padding-bottom: 100px;
}

#apply_pic{
    background-image: url('radio4.jpg');
    background-size: cover;
   padding-bottom: 300px;
}

.icon {
    width:30px;
    height:30px;
    border:0
}
/*for articles*/
.article{
    background-color: #D3D3D3;
    text-align: center;
}

.col-sm-12 p, .db_form{
    padding:10px;
    margin:10px;
}

.r_content .r_content{
    padding-top:30px;
    padding-bottom: 30px;
}
.text{
    padding-top: 10px;
    padding-bottom: 10px;
}
.subtitle{
    background-color:white;
    opacity: .85;
    padding:20px;
}
